.title {
  color:black;
  margin-left:10px;
  padding:20px;
  font-size:80px;
}

.subhead {
  color:black;
  margin-left:40px;
  font-size:20px;
}

html {
  background: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size:15px;
  text-align:center;
  color:white;
  font-family: 'Poppins', sans-serif;
  margin-top:5px;
}

h2 {
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size:20px;
}

p {
  color:white;
  text-align:left;
  margin-left:20px;
  margin-right:20px;
  font-family: 'Poppins', sans-serif;
  font-size:15px;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: white;
}

.ashlyn {
  width:100%;
  text-align:center;
}

.shl {
  text-align:justify;
}

.merey {
  width:100%;
  position:center;
}

.mer {
  text-align:center;
}

.mere {
  font-size:18px;
}

.ere {
  font-size:12px;
  text-align:justify;
}

.tyler {
  width:100%;
}

.tyl {
  text-align:center;
}

.kurt {
  width:73%;
}

.kur {
  text-align:center;
}

.kiran {
  width:88%;
}

.kir {
  text-align:center;
}

.ira {
  font-size:8px;
  text-align:justify;
}

.julianna {
  width:77%;
}

.jul {
  text-align:center;
}

.uli {
  font-size:11px;
  text-align:justify;
}

.joseph {
  width:65%;
}

.jo {
  font-size:17px;
}

.jos {
  text-align:center;
}

.ose {
  font-size:12px;
  text-align:justify;
}

.talia {
  width:90%;
}

.tal {
  text-align:center;
}

.ali {
  font-size:6px;
  text-align:justify;
}

.tricia {
  width:100%;
}

.ici {
  font-size:12px;
  text-align:justify;
}

.orlando {
  width:105%;
}

.orl {
  text-align:center;
  margin-left:-8px;
}

.black {
  width:100%;
}

.grey {
  width:80%;
}

.um {
  color:black;
  font-size:23px;
}

.module {
  position:relative;
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  margin:20px;
}

.overlay {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  border-radius:5px;
  background-color:black;
  text-align:center;
}

.module:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .module {
    width: 300px;
  }

  .module {
    margin-bottom:100px;
  }

}
